/*!page-footer*/

.page-footer {
	h3{
		@extend %center;
		color: #9E9E9E;
	}
	li{
		list-style: none;
	}
    .links {
        @include col(5);
    }
    .contact {
        @include col(7);
    }
    .links-list {
        @extend %clearfix;
        li {
            @include col(6);
            // @extend %center;
            margin: 10px 0;
        }
    }
    .contact-list{
    	@extend %clearfix;
    	@extend %clearmp;
    	@extend %center;
    	li{
    		@include col(2.75);
    		margin-right: 10px;
    		background: $mainColor2;
    		&:last-child{
    			margin-right: 0;
    		}
    	}
    }
    .contact-img{
    	display: inline-block;
    	width: 100%;
    	height: 100px;
    }
}
