/*!page-intro样式*/

$picWidth: 160px;
$picHeight: 160px;
$picBorderWidth: 5px;
$imgWidth: 280px;
$imgHeight: 230px;
.pic {
    @extend %center;
    @extend %clearmp;
    display: block;
    width: $picWidth;
    height: $picHeight;
    margin-top: 20px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-width: $picBorderWidth;
    background-image: url('http://ww1.sinaimg.cn/large/88920041gy1ffenor1dwhj20go0m8q65.jpg');
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    &:hover {
        box-shadow: 0 0 30px rgba(100, 100, 100, 0.7) inset;
    }
}

.name {
    @extend %center;
    @extend %clearmp;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 20px 0;
}

.motto {
    @extend %center;
    @extend %clearmp;
    font-size: 20px;
    color: rgba(50, 50, 50, 0.8);
}

.info {
    @extend %center;
    i {
        font-size: 26px;
    }
}

.works-list {
    @extend %clearfix;
    li {
        @extend %clearfix;
        width: 100%;
        display: block;
        list-style: none;
        margin-top: 16px;
        background: #fff;
        box-shadow: 3px 3px 10px #ccc;
    }
    .img-wrapper {
        @include col(3.5);
        // width: $imgWidth;
        height: $imgHeight;
        overflow: hidden;
    }
    .work-item-img {
        display: block;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease;
        &:hover {
            transform: scale(1.12);
        }
    }
    .desc {
        @include col(8.5);
        height: $imgHeight;
        padding: 20px;
        background: #fff;
    }
}
