@charset "UTF-8";
/*! 基本样式*/
* {
  box-sizing: border-box;
}

body {
  font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
  color: #333;
  background-color: #fff;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.body-title {
  display: block;
  font-size: 16px;
  font-weight: bold;
  background: #303030;
  color: #fff;
  text-align: center;
  vertical-align: middle;
}
