@charset "UTF-8";
/*! 基本样式*/
/*通用变量*/
* {
  box-sizing: border-box;
}

body {
  font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  color: #333;
  background-color: #f6f6f6;
}

a {
  color: inherit;
  text-decoration: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.container:after, .page-header .container:after, .page-header .nav ul:after, .works-list:after, .works-list li:after, .page-footer .links-list:after, .page-footer .contact-list:after {
  display: block;
  content: "";
  clear: both;
}

.page-header .nav ul, .pic, .name, .motto, .works-list, .page-footer .contact-list {
  margin: 0;
  padding: 0;
}

.page-header .logo, .page-header .nav li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.body-title, .title-wrapper, .pic, .name, .motto, .info, .page-footer h3, .page-footer .contact-list {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.body-title {
  width: 100px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

.title-line {
  display: inline-block;
  width: 150px;
  height: 1px;
  line-height: 30px;
  background-color: #ccc;
  vertical-align: middle;
}

.tags > span {
  display: inline-block;
  margin: 0 5px;
  padding: 0 5px;
  border: 1px solid #009B72;
  border-radius: 3px;
  color: #009B72;
  cursor: pointer;
}
.tags > span:hover {
  background: #009B72;
  color: #fff;
}

.more-btn {
  margin: 0;
  padding: 5px 15px;
  display: inline-block;
  background: #009B72;
  color: #fff;
  cursor: pointer;
}

.link-btn {
  border: 1px solid #ddd;
  color: #aaa;
  padding: 5px;
}
.link-btn:hover {
  border-color: #009B72;
  color: #009B72;
}

.vw-source {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

/*! page-header通用样式*/
.page-header {
  width: 100%;
  height: 50px;
  background: #303030;
  color: #fff;
  position: fixed;
  z-index: 9999;
}
.page-header .container {
  width: 1000px;
  margin: 0 auto;
}
.page-header .logo {
  float: left;
  width: 16.66667%;
  height: 50px;
}
.page-header .logo .logo-img {
  display: block;
  width: 40px;
  height: 40px;
  margin: 5px 0;
  background-image: url("http://ww1.sinaimg.cn/large/88920041gy1ffenor1dwhj20go0m8q65.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 50%;
  -webkit-broder-radius: 50%;
  -moz-broder-radius: 50%;
  -ms-broder-radius: 50%;
}
.page-header .nav {
  text-align: right;
  font-size: 16px;
  font-weight: bold;
  float: left;
  width: 83.33333%;
}
.page-header .nav li {
  float: left;
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
  list-style: none;
}
.page-header .nav li.active {
  background: rgba(0, 155, 114, 0.5);
}
.page-header .nav li a:hover {
  color: #fff;
}

.page-intro {
  padding-top: 50px;
}

/*!page-intro样式*/
.pic {
  display: block;
  width: 160px;
  height: 160px;
  margin-top: 20px;
  border-radius: 50%;
  border: 3px solid #fff;
  border-width: 5px;
  background-image: url("http://ww1.sinaimg.cn/large/88920041gy1ffenor1dwhj20go0m8q65.jpg");
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.pic:hover {
  box-shadow: 0 0 30px rgba(100, 100, 100, 0.7) inset;
}

.name {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin: 20px 0;
}

.motto {
  font-size: 20px;
  color: rgba(50, 50, 50, 0.8);
}

.info i {
  font-size: 26px;
}

.works-list {
  margin: 0 50px;
}
.works-list li {
  position: relative;
  width: 100%;
  display: block;
  list-style: none;
  margin-top: 16px;
  background: #fff;
  box-shadow: 3px 3px 10px #ccc;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
.works-list li:hover {
  -webkit-transform: translateX(5px);
      -ms-transform: translateX(5px);
          transform: translateX(5px);
}
.works-list .img-wrapper {
  float: left;
  width: 29.16667%;
  height: 230px;
  overflow: hidden;
}
.works-list .work-item-img {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
.works-list .work-item-img:hover {
  -webkit-transform: scale(1.12);
      -ms-transform: scale(1.12);
          transform: scale(1.12);
}
.works-list .desc {
  float: left;
  width: 70.83333%;
  height: 230px;
  padding: 20px;
  background: #fff;
}

/*!page-footer*/
.page-footer h3 {
  color: #9E9E9E;
}
.page-footer li {
  list-style: none;
}
.page-footer .links {
  float: left;
  width: 41.66667%;
}
.page-footer .contact {
  float: left;
  width: 58.33333%;
}
.page-footer .links-list li {
  float: left;
  width: 50%;
  margin: 10px 0;
}
.page-footer .contact-list li {
  float: left;
  width: 22.91667%;
  margin-right: 10px;
  background: #009B72;
}
.page-footer .contact-list li:last-child {
  margin-right: 0;
}
.page-footer .contact-img {
  display: inline-block;
  width: 100%;
  height: 100px;
}

/*# sourceMappingURL=main.css.map */