@mixin aStyle($display: block, $underline: none, $underline-hover: underline, $color: #ccc, $color-hover: red, $height: 1em){
	a{
		display: $display;
		text-decoration: $underline;
		color: $color;
		height: $height;
		&:hover, &:focus{
			text-decoration: $underline-hover;
			color: $color-hover;
		}
	}
}