---
import { Image } from 'astro:assets'

import { Button, Collapse, Icon } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import KeyIcon from '@/assets/icons/key.svg'
import config from '@/site-config'

const headings = [
  { depth: 2, slug: 'theme', text: 'Library' },
  { depth: 2, slug: 'programs', text: 'Programs' },
  { depth: 2, slug: 'others', text: 'Others' },
  { depth: 2, slug: 'gpg-signature', text: 'GPG Signature' },
]
---

<PageLayout title='Projects' {headings} info={{ slug: '/projects', hideComment: true }}>
  <p>Github Activities:</p>
  <p>
    <Image
      src='https://ghchart.rshah.org/30a14e/DiLiuNEUexpresscompany'
      alt='github activities'
      inferSize
      loading='lazy'
    />
  </p>
  <Button title='Checkout sponsorship' class='w-fit' href='/about#sponsorship'>
    <Icon class='size-5' name='receive-money' slot='before' />
  </Button>

  <h2 id='theme'>Library</h2>
  <ProjectSection
    projects={[
      {
        name: 'Pixiv MCP',
        description: '适用于Pixiv.com的MCP Server',
        links: [
          { type: 'github', href: 'https://github.com/DiLiuNEUexpresscompany/pixiv-mcp'},
          {
            type: 'doc',
            href: 'https://github.com/DiLiuNEUexpresscompany/pixiv-mcp/blob/main/README.md'
          }
        ]
      },
    ]}
  />

  <h2 id='programs'>Programs</h2>
  <ProjectSection
    projects={[
      {
        name: 'LLM Based Multi-Agent Stock Analysis and Investment Advisor',
        description:
          '利用LLM和多代理框架来分析股票价格、收集相关新闻，并为公司生成全面的金融投资报告',
        links: [
          { type: 'github', href: 'https://github.com/DiLiuNEUexpresscompany/LLM-Based-Multi-Agent-Stock-Analysis-and-Investment-Advisor' },
          {
            type: 'doc',
            href: 'https://github.com/DiLiuNEUexpresscompany/LLM-Based-Multi-Agent-Stock-Analysis-and-Investment-Advisor/blob/main/Final_Project_Report.pdf'
          }
        ]
      },
      {
        name: 'LLM Driven Analytics Engine for Bitcoin',
        description: '利用LLM和区块链数据分析比特币交易，并生成报告',
        links: [
          { type: 'github', href: 'https://github.com/DiLiuNEUexpresscompany/LLM-Driven_Bitcoin_Blockchain_Analytics_Engine' },
        ]
      }
    ]}
  />
  <Collapse title='Some old projects'>
    <ProjectSection
      projects={[
        {
          name: 'edge seeker',
          description: '一个新闻集合终端，可以查看新闻、阅读新闻、收藏新闻、分享新闻。',
          links: [
            { type: 'github', href: 'https://github.com/DiLiuNEUexpresscompany/edgeSeeker' },
          ]
        },
      ]}
    />
  </Collapse>

  <h2 id='others'>Others</h2>
  <ProjectSection
    projects={[
      {
        name: 'DiLiuNEUexpresscompany Blog',
        description: 'DiLiuNEUexpresscompany Blog, fork from johniexu.github.io',
        links: [{ type: 'github', href: 'https://github.com/DiLiuNEUexpresscompany/buffercompany.github.io' }]
      }
    ]}
  />

  <!-- gpg signature -->
  <h2 id='gpg-signature'>GPG Signature</h2>
  <p>
    You can verify the authenticity of the files I signed by checking the GPG signature. My GPG key
    is <code>114514</code>, and you can find it on the opengpg key servers or download from it.
  </p>
  <Button href='https://keys.openpgp.org/search?q=114514' title='Checkout my key' target='_blank'>
    <KeyIcon class='size-5' slot='before' />
  </Button>
</PageLayout>

<script
  is:inline
  type='module'
  data-astro-rerun
  define:vars={{ npmCDN: config.npmCDN, walineServer: config.integ.waline.server }}
>
  const loadPageviewCount = async () => {
    try {
      const pageview = await import(`${npmCDN}/@waline/client@v3/dist/pageview.js`)
      pageview.pageviewCount({
        serverURL: walineServer,
        path: window.location.pathname
      })
    } catch (error) {
      console.log('Pageview counter not available (CDN blocked or network issue)')
    }
  }

  await loadPageviewCount()
</script>

<style>
  .sponsorship-card {
    & .sponsorship-card-img {
      opacity: 0.3;
      --un-blur: blur(4px);
      filter: var(--un-blur);
    }

    &:hover {
      & .sponsorship-card-icon {
        opacity: 0;
      }
      & .sponsorship-card-img {
        opacity: 1;
        --un-blur: blur(0);
      }
    }
  }
</style>
