.guide{
	@include aStyle(inline-block, none, none, #c69, #036, 24px);
	@extend %body-ul-style;
	li{
		line-height: 24px;
		padding: 6px 0;
		a{
			font-size: 16px;
		}
	}
	h2{
		margin: 0;
		padding: 0 0 24px;
		font-family: "source-serif-pro",Georgia,"Times New Roman",Times,serif;
		font-size: 48px;
		font-weight: 300;
		letter-spacing: -1.5px;
		line-height: 60px;
		text-align: left;
		color: #699;
	}
	h3{
		margin: 0;
		padding: 0 0 12px;
		font-family: "source-serif-pro",Georgia,"Times New Roman",Times,serif;
		font-size: 16px;
		font-weight: 600;
		letter-spacing: 0.5px;
		line-height: 24px;
		text-align: left;
		color: #699;
	}
	pre{
		width: (600px - 26px);
	}
	code{
		padding: 0;
		line-height: 0;
		font-family: "source-code-pro",Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
		font-size: 12px;
		font-weight: 400;
		white-space: pre-wrap;
		border-radius: 0;
	    border: 1px solid transparent;
	    background: #f8f8f8;
	    color: #036;
	}
	hr{
		width: 600px;
		margin-left: 0;
	}
	.content{
		@include clearfix;
	}
	.slides{
		float: left;
	}
	.content-primary{
		@include span(7.5);
		@include clearfix;
		p{
			max-width: 600px;
			margin-top: 0;
			margin-bottom: 0;
			text-align: left;
			&.introduction{
				max-width: 100%;
				width: 900px !important;
				margin: 0 50px;
			}
		}
	}
	.content-secondary{
		@include span(4.5);
		padding-left: 10%;
	}
}