%body-p-style{
    p{
        margin: 0;
        padding-bottom: 24px;
		line-height: 24px;
        text-align: left;
        &:nth-child(even)
        {
            text-align: center;
        }
    }
}
%body-ul-style{
    ul{
        margin: 0;
        padding: 0;

        text-align: left;
    }
    li{
        list-style: none;
        // font-size: 18px;
        line-height: 36px;
        color: #484c55;
    }
    a{
    	font-size: 24px;
    }
    .info{
    	display: inline-block;
    	font-size: 18px;
    }
    .mac-icon{
    	display: inline-block;
    	width: 15px;
    	height: 15px;
    	background-image: url('../images/os-icons.png');
    	background-repeat: no-repeat;
    	background-position: -35px 0;
    	background-size: auto 15px;
    }
    .windows-icon{
    	display: inline-block;
    	width: 15px;
    	height: 15px;
    	background-image: url('../images/os-icons.png');
    	background-repeat: no-repeat;
    	background-position: 0 0;
    	background-size: auto 15px;
    }
    .linux-icon{
    	display: inline-block;
    	width: 15px;
    	height: 15px;
    	background-image: url('../images/os-icons.png');
    	background-repeat: no-repeat;
    	background-position: -65px 0;
    	background-size: auto 15px;
    }
}
%body-ol-style{
	ol, li{
		margin: 0;
		padding: 0;
		text-align: left;
		list-style-position: outside;
		p{
			text-align: left;
		}
	}
}
.install{
    .main{
        padding-top: 48px;
    }
    h2{
        font-family: 'source-serif-pro',Georgia,'Times New Roman',Times,serif;
        font-size: 48px;
        font-weight: 300;
        line-height: 60px;

        margin: 0;
        padding: 0 0 24px;

        letter-spacing: -1.5px;

        color: #699;
    }
    h3{
        font-family: 'source-serif-pro',Georgia,'Times New Roman',Times,serif;
        font-size: 16px;
        font-weight: 600;
    }
    .list-columns{
        list-style-position: inside;

        @include clearfix;
        h3{
            line-height: 24px;

            display: inline-block;

            margin: 0;
            padding: 36px 0 12px;

            letter-spacing: .5px;
            text-transform: uppercase;

            color: #808c99;
        }
        img{
            max-width: 100%;
            height: auto;
            margin: 0 auto;
        }
        .gui-application{
        @extend %body-ul-style;
            margin: 0;
            padding: 0 16px;

            @include span(6);
            @extend %body-p-style;
            @include aStyle(inline-block, none, none, #c69, #036, 36px);
        }
        .command-line-unix{
            margin: 0;
            padding: 0 16px;
            @include span(6);
            @extend %body-p-style;
            @include aStyle(inline-block, none, none, #c69, #036, 24px);
            @extend %body-ol-style;
            p{
                text-align: center;
            }
            dl{
            	text-align: left;
            	margin: 0;
            	padding: 0;
            }
            dt{
            	font-weight: 600;
            }
            dd{
            	margin-left: 32px;
            	padding-bottom: 24px;
            	p:last-child{
            		text-align: left;
            	}
            }
            .button{
            	height: 48px;
            	line-height: 24px;
            	padding: 12px 16px;
            	background: #c6538c;
            	border-radius: 4px;
            	border: none;
            	color: #fff;
            	&:hover, &:focus{
            		background: #c24785; 
	            	color: #fff;
            	}
            }
        }
    }
}
