.libsass{
	@include aStyle(inline-block, none, none, #c69, #036, auto);
	h2{
		font-family: "source-serif-pro",Georgia,"Times New Roman",Times,serif;
		margin: 0;
		padding: 48px 0 24px 0;
		font-size: 48px;
		color: #699;
		font-weight: 300;
	}
	h3{
		margin: 0;
		padding: 36px 0 12px 0;
		font-family: "source-serif-pro",Georgia,"Times New Roman",Times,serif;
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
		color: #808c99;
	}
	figure{
		margin: 0;
	}
	.content{
		@include clearfix;
	}
	.main{
		@include span(8);
		@include clearfix;
		margin: 0;
		padding: 48px 36px 48px 0;
		text-align: left;
		.introduction{
			width: auto;
			max-width: 900px;
			float: none;
			margin: 0 auto;
			padding: 0 0 36px 0;
		}
		ul{
			margin: 0;
			padding: 16px 0 16px 0;
		}
		p{
			max-width: 600px;
		}
		pre{
			max-width: 550px;
		}
		img{
			width: 600px;
		}
	}
	.complementary{
		@include span(4);
		margin: 0;
		padding: 72px 0 48px 36px;
		text-align: left;
		ul{
			margin: 0;
			padding: 0;
		}
		li{
			list-style: none;
			padding: 6px 0;
		}
	}
}