.page-header{
	margin: 0 auto 24px;
	background: url('../images/grey-prism.svg');
	h1{
		height: 96px;
		margin: 0;
		line-height: 96px;
		font-size: 6em;
		font-weight: 300;
		letter-spacing: -3px;
		color: #808c99;
	}
}
