.section-bottom{
	padding: 24px 0;
	ul{
		padding: 0;
		@include clearfix;
		&.list-tiled{
			li{
				@include span(4);
				@include clearfix;
				@include listStyle(none, inline-block);
				&:nth-child(3n+4){
					content: "";
					display: block;
					clear: both;
				}
				h3{
					padding: 36px 0 12px;
					margin: 0;
					color: #808c99;
					line-height: 24px;
					text-align: left;
					text-transform: uppercase;
					font-family: "source-serif-pro",Georgia,"Times New Roman",Times,serif;
					font-weight: 600;
					letter-spacing: 0.5px;

				}
				p{
					padding-bottom: 24px;
					color: #484c55;
					text-align: left;
					@include aStyle(inline-block, none, none, #c69, #036, 24px);
					li{
						&:visited{
							color: #b37399;
						}
					}
				}
			}
		}
	}
	
}