/* susy栅格布局 */
$susy: (
	global-box-szing: $susy-box-sizing,
	columns: $susy-columns,
	gutters: $susy-gutters,
	gutter-position: inside
	);
@include border-box-sizing();
.container{
	@include container($container-width);
	@include clearfix;
}// border-box-sizing container clearfix 都是susy内置的

html{
	font-family: $global-font-family;
	font-size: 100%;
	line-height: 1.5em;
	text-align: center;
	color: #484c55;
	pre{
		box-sizing: content-box;
		margin: 1.5em 0;
		padding: 12px;
		border-radius: 4px;
	    border: 1px solid #ebebeb;
	    background: #f8f8f8;
	    color: #036;
	    line-height: 2em;
	    font-family: "source-code-pro",Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
	    font-size: 12px;
	    code{
	    	padding: 0;
	    	border: none;
	    }
	}
	a{
		code{
			padding: inherit;
			font-family: inherit;
			font-size: inherit;
			font-weight: inherit;
			border-radius: 0;
		    border: none;
		    background: inherit;
		    color: inherit;
		}
	}
	b,strong{
		font-weight: 600;
	}
	code{
		padding: .25em;
		font-family: "source-code-pro",Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
		font-size: 12px;
		font-weight: 400;
		white-space: pre-wrap;
		border-radius: 4px;
	    border: 1px solid #ebebeb;
	    background: #f8f8f8;
	    color: #036;
	}
	hr{
		height: 1px;
		margin: 23px 0;
		padding: 0;
		border: 0;
		border-top: 1px solid #dadbdf;
	}
}